.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100vh;
}

.json-editor {
  width: 40vw;
  max-height: 100vh;
  background-color: #f5f2f0;
  cursor: text;
}

.json-editor pre {
  height: 100vh;
}

.rendered-view {
  width: 60vw;
  max-height: 100vh;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 32px;
  overflow: scroll;
}

.rendered-view p {
  line-height: 1.5em;
  margin: 0.25em 0;
}

.gurmukhi {
  font-weight: 500;
}

.title {
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
}

.sirlekh {
  font-weight: 800;
}

.pad-arth {
  font-size: 0.6em;
  line-height: 0.5em;
}

.arth {
  font-size: 0.7em;
}

.pad-arth .english,
.arth .english {
  font-size: 0.85em;
}
