.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100vh;
}

#json-editor {
  height: 100vh;
  background-color: #f5f2f0;
  cursor: text;
  overflow: hidden;
}

#json-editor pre {
  height: 100vh;
}

#rendered-view {
  height: 100vh;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 32px;
}

#rendered-view p {
  line-height: 1.5em;
  margin: 0.25em 0;
}

#rendered-view .page {
  margin-bottom: 10em;
}

.gurmukhi {
  font-weight: 500;
}

.title {
  text-align: center;
}

.title .gurmukhi {
  font-weight: 700;
  font-size: 1.25em;
}

.sirlekh .gurmukhi {
  font-weight: 800;
  font-size: 1.05em;
  margin-top: 0.75em;
}

.pad-arth {
  font-size: 0.6em;
  line-height: 0.5em;
  padding-left: 0.5em;
}

.arth {
  font-size: 0.7em;
  padding-left: 0.5em;
}

.pad-arth .english,
.arth .english {
  font-size: 0.85em;
}

.missing-data {
  background-color: #e1d7d1;
}
